body{
    background-color: red;
}
.parent{
    width:100%;
    height: 400px;
    background-color: aqua;
}
.child{
    background-color: yellow;
    height: 100px;
    width: 50%;
    position: relative;
}